/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: 'Chelsea Market';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/chelsea-market-v8-latin-regular.woff2') format('woff2'),
         url('assets/fonts/chelsea-market-v8-latin-regular.woff') format('woff');
}

body{
    background: url(./assets/images/Website-Background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.shadowtext {
    color: #fff;
    font-family: 'Chelsea Market', cursive;
    text-shadow: 0 1px 2px #000;
}